/* Color Palette
#2B2D42 - DARK BLUE
#8D99AE - LIGHT BLUE
#EDF2F4 - BLUE/WHITE
#EF233C - RED
font-family: 'Open Sans', sans-serif;
font-family: 'Caveat', cursive;
*/

/* Global styles*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}
h1 {
    font-size: 80px;
}
h2 {
    font-size: 40px;
    margin-top: 0;
}
h3 {
    margin: 0;
}
h1, h2 {
    font-family: 'Caveat', cursive;
    font-weight: 400;
    
}
a {
    color: #EF233C;
}
a:hover {
    text-decoration: none;
}
.content-wrap {
    max-width: 950px;
    margin: 0 auto;
    padding: 60px 50px;
    overflow: hidden;
}
.uppercase {
    text-transform: uppercase;
}
.btn {
    text-decoration: none;
    background: #EF233C;
    color: white;
    padding: 10px;
    display: inline-block;
}

/* Header and Footer
-------------------------*/
header {
    padding-top: 50px;
    position: relative;
}
.profile-img {
    border-radius: 50%;
}
.download {
    position: absolute;
    bottom: 0;
    right: 0;
}
header, footer {
    background: #2B2D42;
    color: #8D99AE
}
header h1, header h2 {
    color: #EDF2F4;
    margin: 0;
}
footer {
    text-align: center;
}
.contact-info a {
    padding: 10px;
    display: inline-block;
}

/* Navigation
-------------------*/
nav {
    text-align: center;
    background: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
nav a {
    display: inline-block;
    padding: 15px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
/*
    width: 25%;
    font-size: 16px;
*/
}

/* Work Experience */
.work {
    background: #EDF2F4;
}
h3 ~ p {
    margin: 0;
}
.job-description p:first-of-type {
    margin-top: 0;
}
.job-description {
    margin-bottom: 25px;
}

/* Education */
.education {
    background: linear-gradient(rgba(141, 153, 174, 0.8),
                 rgba(141, 153, 174, 0.5)),
                 url(https://unsplash.it/400/300) no-repeat fixed;
    background-size: cover;
}
p + h3 {
    margin-top: 30px;
}


/* Media Queries
-------------------*/
@media (min-width: 900px) {
    .col-narrow {
        width: 35%;
        float: left;
    }
    .col-wide {
        width: 62%;
        float: left;
        padding-left: 3%;
    }
}
@media (max-width: 899px) {
    header {
        text-align: center;
    }
    .profile-img {
        width: 200px;
    }
}



